---
---

$header-heading-color: #fff;
$header-bg-color: #101418;
$header-bg-color-secondary: #101418;

$section-headings-color: #304060;
$body-text-color: #101418;
$body-link-color: #1e6bb8;
$blockquote-text-color: #303C48;

$code-text-color: #202830;


@import "{{ site.theme }}";

p {
    border: 1px solid red;
}