<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{{style}}}
  <script src="remark.min.js"></script>
  <script>
    function create() {
      return remark.create({
        {{{source}}},
        navigation: {
          scroll: false
        },
        ratio: '16:9',
        highlightLines: true,
        countIncrementalSlides: false,
        highlightStyle: 'monokai'
      });
    }
    function updateLinks() {
      setTimeout(function() {
        var els = document.querySelectorAll("a[href*='http']")
        els = [].slice.call(els, 0);
        els.forEach(function(el) {
          el.setAttribute("target", "_blank");
        });
      }, 1000);
    }
  </script>
</head>
<body onload="slideshow = create(); updateLinks()">
</body>
</html>
